.floating-whatsapp{
  bottom: 60px;
  position: fixed;
  right:45px;
  font-family: sans-serif;
  z-index:10000;
}
.floating-whatsapp .whatsapp-btn{
    background: rgb(255, 255, 255);
    border-radius: 50%;
    background:  #66004d;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
  } 
  .floating-whatsapp .whatsapp-btn i{
      font-size: 30px;
      color: #fff;
  }


  .whatsapp-body{
    /*border: 1px solid purple;*/
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    position: absolute;
    bottom: 55px;
    right: 25px;
   opacity: 0;
    visibility: hidden;
    /* opacity: 1;
    visibility: visible; */
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
  }
  .floating-whatsapp.active .whatsapp-body{
    opacity: 1;
    visibility: visible;
}
  .w-top{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(128, 0, 6); */
    height: auto;
    gap: 25px;
  }
  .w-top-left-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #cccccc;
  }
  .w-top-left-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .w-top-left {
    position: relative;
  }
 .w-top-left .online{
    width: 10px;
    height: 10px;
    background: rgb(85, 219, 32);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 5px;
 }




  .w-top-right h5{
    font-size: 14px;
}
.w-top-right span{
    font-size: 12px !important;
    font-weight: lighter !important;
    color: #606060;
}
.w-mid{
    height:125px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}
.w-mid img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}
.w-welcome-body{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 20%;
    transform: translate(-20%,-50%);
    background: #ffff;
    width: 80%;
    height:80%;
    border-radius: 10px;
    
}
.w-welcome-body p{
    font-size: 13px;
    color: rgb(43, 43, 43);
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.w-w-chat-head{
    font-weight: bold;
    color: rgb(190, 190, 190) !important;
    margin-top: 5px;
}
.whatsapp-content button{
       outline: none;
       border: none;
}
  .w-btm{
    width: 100%;
    background: #66004d;
    border-radius: 25px;
    text-align: center;
    display: flex !important;
    height: 40px;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
 
  }
  .btn-body{
      position: absolute;
  left: 50%;
      top:50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:25px;
  }
  .btn-body i{
    color: #fff;
    font-size: 20px;
  
  }
   .btn-body h6{
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
  }